* {
  margin: 0;
}

body {
  width: 98vw;
  height: 96vh;
  margin: 1vh 1vw;
  background-color: green;
  border: 3px solid white;
}

#ball {
  width: 100px;
  height: 100px;
  background-color: #000000;
  position: absolute;
  background-image: url("images/vecteezy_free-vector-football-texture_112119.png");
  background-size: 110%;
  border-radius: 50%;
  box-shadow: -10px -10px 20px inset, 0px 0px 2px gray inset, 10px 10px 20px;
}

#vecteezy {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

#obstacle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 3px solid greenyellow;
}
